## print("hello world")

In [2]:
#sum of n natural number
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

50
1275

In [3]:
#moduli of two numbers and exponential of result with result
a=int(input())
b=int(input())
c=a%b
print(c)
d=c**c
print(d)

10
5
0
1

In [1]:
# multiplication of  prime number
n=20
mul=1
for i in range (2,n+1):
    a=0
    for j in range(1,i):
        if i%j==0:
            a+=1 
    if a==1:
        print(i)
        mul=mul*i
print(mul)

2
3
5
7
11
13
17
19
9699690

In [ ]:
# calculator
while True:print(eval(input()))

In [6]:
print(2*3*5*7*11*13*17*19)

9699690

In [ ]:
print(25+"3")

In [ ]:
a=20
for i in range(25):
    a=a+i
    
    print(a)

In [ ]:
a=0
for i in range(100):
    a=a-10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=a*10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=a/10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=a//10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=a%10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=20
    a+=10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=20
    a=a*10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=20
    a=a-10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=20
    a=a//10
    a=i+a
    print(a)
print(a)

In [ ]:
a=0
for i in range(100):
    a=20
    a=a%10
    a=i+a
    print(a)
print(a)

In [ ]:
a=66
b=20
c=a|b
print(c)

In [ ]:
a=66
b=20
c=a&a
print(c)

In [ ]:
a=66
b=20
c=a^b
print(c)

In [ ]:
a=66
b=20
c=b^a
print(c)

In [ ]:
a=66
b=20
c=b^b
print(c)

In [ ]:
a=66
b=20
c=a>>b
print(c)

In [ ]:
a=66
b=20
d=86
e=d<<d
print(e)

In [ ]:
print("lakshmi silpa")

In [ ]:
a=20
b=40
x=a or b
print(x)

In [ ]:
a=20
b=40
x=b and a
print(x)

In [ ]:
a=20
b=40
print(not(a))

In [ ]:
a=20
b=40
x=~a
print(x)

In [ ]:
a=20
b=40
x=~b
print(x)

In [ ]:
a=20
b=40
x=a^b
print(x)

In [ ]:
a=20
b=40
x=a<<b
print(x)

In [ ]:
a=20
b=40
x=a<<2
print(x)

In [ ]:
a=20
b=40
x=b>>2
print(x)

In [2]:
a=int(input())
b=int(input())
sum=a+b
mul=a*b
if(sum>100)&(mul<200):
    print("bye")
else:
    print("hi")

64
76
hi

In [3]:
print((12+2)*(6%7)+(7//2))

87

In [ ]:
14*1

In [4]:
print(6%7)

6

In [5]:
# heart shape
for row in range(6):
    for col in range(7):
        if(row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("\r")

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [11]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print("\r")

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
n=int(input())
spaces=n
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print("\r")
    spaces=spaces-1

5
          *
        * *
      * * *
    * * * *
  * * * * *

In [4]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\r")

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
n=int(input())
space = 2 * n - 2
for i in range(0, n):
    for j in range(0, space):
        print(" ",end="")
    space = space - 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print()

5
        *
       * *
      * * *
     * * * *
    * * * * *

In [6]:
rows = int(input())
for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print("\r")
for i in range(rows,1,-1):
    for j in range(1,i):
        print("*",end=" ")
    print("\r")

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
rows=int(input())
for i in range(rows+1,1,-1):
    for j in range(1,i):
        print("*",end=" ")
    print("\r")

5
* * * * *
* * * *
* * *
* *
*

In [8]:
# strong number using for loop
n=int(input())
sum=0
temp=n
while(n>0):
    fact=1 
    a=n%10 
    for i in range(1,a+1):
        fact=fact*i
    sum=sum+fact 
    n=n//10
if(sum==temp):
    print("given number is strong number")
else:
    print("given number is not strong number")

145
given number is strong number

In [9]:
#strong number using while loop
n=int(input())
sum=0
temp=n
while(n>0):
    fact=1 
    i=1
    a=n%10
    while(i<=a):
        fact=fact*i
        i=i+1
    sum=sum+fact 
    n=n//10
if(sum==temp):
    print("given number is strong number")
else:
    print("given number is not strong number")

145
given number is strong number

In [22]:
# harshad number
n=int(input())
temp=n
sum=0
while(n!=0):
    a=n%10
    sum=sum+a
    n=n//10
if (n%sum==0):
    print("given number is harshad number")
else:
    print("given number is not harshad number")

23
given number is harshad number

In [15]:
import calendar
n=int(input("enter the year"))
print(calendar.calendar(n))

enter the year2025
                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [1]:
start=input("enter the starting day")
n=int(input("enter the no.of days"))
sundays=0
d={"sun":1,"mon":2,"tue":3,"wed":4,"thurs":5,"fri":6,"sat":7}
sundays=sundays+(n//7)
mod=n%7
for i in range(d[start],d[start]+mod):
    if(i>7):
        if(i-7==1):
            sundays=sundays+1 
        elif(i<=7):
            if(i==1):
                sundays=sundays+1 
print(sundays)

enter the starting daysat
enter the no.of days30
5

In [2]:
n=int(input())
b=bin(n)[2:]
tv=" "
for i in b:
    if(i=='1'):
        tv=tv+"0"
    else:
        tv=tv+"1"
print(tv)
print(int(tv,2))

5
 010
2

In [10]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i-j,end=" ")
    print("\r")

5
0
1 0
2 1 0
3 2 1 0
4 3 2 1 0

In [1]:
n= list((int,input().split(",")
s=[]
k=len(n)
sum=n[0]+n[1]
s.append(sum)
for i in range(1,k):
    for j in range(0,i):
        sum=s[j]+n[i]
        s.append(sum)
print(s)

SyntaxError: '(' was never closed (1256089587.py, line 1)

In [2]:
words="silpaputta"
vowels=['a','e','i','o','u']
found=[]
for word in words:
    if word in vowels:
        if word not in found:
            found.append(word)
print(found)

['i', 'a', 'u']

In [ ]:
n=list(map(int,input().split()))
s=[]
k=len(n)
sum=n[0]+n[1]
s.append(sum)
for i in range(1,k):
    for j in range(0,i):
        sum=s[j]+n[i]
        s.append(sum)
print(s)

In [2]:
n=list(map(int,input().split()))
s=[]
k=len(n)
p=n[0]+n[1]
s.append(sum)
for i in range(1,k):
        k=s[i-1]+n[i]
        s.append(sum)
print(s)

1 2 3 4 5
[3, 5, 6, 8, 7, 9, 10, 8, 10, 11, 13]

In [1]:
n=input()
d=[]
m=set(n)
for i in m:
    s=(i,n.count(i))
    d.append(s)
print(d)

puttalakshmisilpa
[('l', 2), ('u', 1), ('t', 2), ('m', 1), ('a', 3), ('k', 1), ('p', 2), ('i', 2), ('h', 1), ('s', 2)]